Notebook

# Climate Displacement

Disaster Types
- Year
- State
- Households Inflow (Number of Returns)
- Households Outflow (Number of Returns)
- Individuals Inflow (Number of Exemptions)
- Individuals Outflow (Number of Exemptions)
- Chemical
- Dam/Levee Break
- Drought
- Earthquake
- Fire
- Flood
- Human Cause
- Hurricane
- Ice
- Mud/Landslide
- Other
- Snow
- Storm
- Terrorism
- Tornado
- Tsunami
- Typhoon
- Volcano
- Water
- Winter

In [313]:
"""
Folders Setup

code 
    notebook.ipynb
    data
        Disasters
            FEMA_dataset.csv
        StateMigration
            1990to1991StateMigration
                 1990to1991StateMigrationInflow
                     Alabama91in.xls
                     Alaska91in.xls
                     .
                     .
                     .
                     Wisconsin91in.xls
                     Wyoming91in.xls 
                 1990to1991StateMigrationOutflow
                     Alabama91Out.xls
                     Alaska91Out.xls 
                     .
                     .
                     .
                     Wisconsin91Out.xls
                     Wyoming91Out.xls 
            .
            .
            .
            2008to2009StateMigration
            2009to2010StateMigration
            2010to2011StateMigration 
"""

'\nFolders Setup\n\ncode \n    notebook.ipynb\n    data\n        Disasters\n            FEMA_dataset.csv\n        StateMigration\n            1990to1991StateMigration\n                 1990to1991StateMigrationInflow\n                     Alabama91in.xls\n                     Alaska91in.xls\n                     .\n                     .\n                     .\n                     Wisconsin91in.xls\n                     Wyoming91in.xls \n                 1990to1991StateMigrationOutflow\n                     Alabama91Out.xls\n                     Alaska91Out.xls \n                     .\n                     .\n                     .\n                     Wisconsin91Out.xls\n                     Wyoming91Out.xls \n            .\n            .\n            .\n            2008to2009StateMigration\n            2009to2010StateMigration\n            2010to2011StateMigration \n'

## Pseudocode:

### FEMA Dataset Pre-processing (Neely)
1. Create new FEMA_dataset with columns 
    - contains Year, State, Disaster Type
2. Name file "State_Disasters_by_Year"

### StateMigration Data Pre-Processing (Ben)
1. Convert all datasets in StateMigration from .xls into .csv files
2. Extract "Total Flow" row with "Number of Returns" and "Number of Exemptions" - assign I if from inflow and O if from outflow - from every state file.
3. Extract "State" and "Year" from every file
4. Create file with "State" (from file name), "Year" (from file name), "Number_of_Returns_I", "Number_of_Exemptions_I", "Number_of_Returns_I" and "Number_of_Exemptions_O"
5. Name file "State Migration by Year"

### Merge Datasets (Both)
1. Merge datasets on common attributes "Year" and "State"
2. Name dataset "State_Migration_and_Disasters_by_Year"

#### Train and Testing
1. Create training and testing datasets
    Questions: How should we split training and testing data?
2. Create Neural Network models
    Input: Year, State, Disaster Type
    Output: Migration Inflow (Household/Individual), Migration Outflow (Household/Individual)
3. Put training and testing through the Neural Network models.
4. Evaluate which models are the most effective.
---
Data Augmentation
Synthetic Data
Use svm or decision tree -- skleant -- and compare against a neural network
could use all data for training and all data for validation - not this is a faulty practice in 
20% distribution of state 


```
read_file = pd.read_excel ("Test.xlsx")
 
# Write the dataframe object
# into csv file
read_file.to_csv ("Test.csv",
                  index = None,
                  header=True)
```

In [314]:
# adding imports
import shutil
import pandas as pd
import os
import glob
#import xlrd
import csv
import numpy as np
#from fastai import *

### FEMA Dataset Pre-processing

Creates State_Disasters_by_Year.csv with:
- State
- Disaster Type
- Start Year
- End Year

In [315]:
# FEMA Dataset Preprocessing

# copy original FEMA dataset to new file
original = r'../code/data/Disasters/FEMA_dataset.csv'
new = r'../code/data/Disasters/State_Disasters_by_Year.csv'
shutil.copyfile(original, new)

# read csv file
data = pd.read_csv('../code/data/Disasters/State_Disasters_by_Year.csv')

# delete irrelevant rows
data.pop('Declaration Number')
data.pop('Declaration Type')
data.pop('Declaration Date')
data.pop('County')
data.pop('Disaster Title')
data.pop('Close Date')
data.pop('Individual Assistance Program')
data.pop('Public Assistance Program')
data.pop('Hazard Mitigation Program')
data.pop('Individuals & Households Program')

# extract years
data['Start Year'] = pd.DatetimeIndex(data['Start Date']).year
data['End Year'] = pd.DatetimeIndex(data['End Date']).year

# delete start and end dates
data.pop('Start Date')
data.pop('End Date')

print(data)

# save changes csv
data.to_csv('../code/data/Disasters/State_Disasters_by_Year.csv')

      State Disaster Type  Start Year  End Year
0        TX        Winter        1989    1989.0
1        TX        Winter        1989    1989.0
2        TX        Winter        1989    1989.0
3        TX        Winter        1989    1989.0
4        TX        Winter        1989    1989.0
...     ...           ...         ...       ...
36785    CA         Storm        2017    2017.0
36786    CA         Storm        2017    2017.0
36787    CA         Storm        2017    2017.0
36788    CA         Storm        2017    2017.0
36789    CA         Storm        2017    2017.0

[36790 rows x 4 columns]

### Converting State Migration data from .xls to .csv

Converting all datasets in StateMigration from .xls to .csv

In [316]:
# Convert all files in StateMigration folder from .xls to .csv

# create list of xls files
xls_list = glob.glob("/Users/ben/Desktop/climate-displacement/code/data/StateMigration/*/*/*.xls")

# replace xls 
for xls_file in xls_list:
    
    wb = xlrd.open_workbook(xls_file)
    sh = wb.sheet_by_index(0)
    csv_file = open(xls_file[0:-3]+'csv', "w")
    wr = csv.writer(csv_file, quoting=csv.QUOTE_ALL)
    
    for rownum in range(sh.nrows):
        wr.writerow(sh.row_values(rownum))
        
    csv_file.close()
    
    # remove .xls files
    os.remove(xls_file)

### More data wrangling - StateMigration dataset
- Extract "Total Flow" row with "Number of Returns" and "Number of Exemptions"
- Assign "I" if from inflow and "O" if from outflow - for every state file
- Extract "State" and "Year" from every file
- Create file with "State" (from file name), "Year" (from file name), "Number of Returns_I", "Number of Exemptions I", "Number of Returns O" and "Number of Exemptions O"

### Pseudocode

1. create output path in repository for the merged StateMigration dataset

2. read each csv file in the StateMigration folder, and for each file:

    a. check the csv files to make sure they are the intended data
    
    b. remove the original csv files

In [317]:
# set new file location for merged StateMigration dataset
output_path = r'../code/data/StateMigration/State_Migrations_by_Year.csv'

In [318]:
# create the output file at output_path
output = open(output_path, "w")
output.close()

In [319]:
# create empty DataFrame object
df = pd.DataFrame()
df.insert(0,'State', '')
df.insert(1,'Year', '')
df.insert(2,'NOR(I)', '')
df.insert(3,'NOE(I)', '')
df.insert(4,'NOR(O)', '')
df.insert(5,'NOE(O)', '')

# print(df)

In [320]:
# create dictionary of "state initial keys" with multiple "values"
# run each segment through dictionary, and convert into state initial
stateDict = {
    "AL":['Alabama', 'al', 'AL', 'alab', 'Alab'],
    "AK":['Alaska', 'ak', 'AK', 'alas', 'Alas'],
    "AZ":['Arizona', 'az', 'AZ', 'ariz', 'Ariz'],
    "AR":['Arkansas', 'ar', 'AR', 'arka', 'Arka', 'aka'],
    "CA":['California', 'ca', 'CA', 'cali', 'Cali'],
    "CO":['Colorado', 'co', 'CO', 'colo', 'Colo'],
    "CT":['Connecticut', 'ct', 'CT', 'conn', 'Conn'],
    "DE":['Delaware', 'de', 'DE', 'dela', 'Dela'],
    "DC":['DistrictofColumbia', 'Districtofcolumbia', 'District of Columbia', 'dc', 'DC', 'dist', 'Dist', 'DiCo', 'dico'],
    "FL":['Florida', 'fl', 'FL', 'flor', 'Flor'],
    "GA":['Georgia', 'ga', 'GA', 'geor', 'Geor'],
    "HI":['Hawaii', 'hi', 'HI', 'hawa', 'Hawa'],
    "ID":['Idaho', 'id', 'ID', 'idah', 'Idah'],
    "IL":['Illinois', 'il', 'IL', 'illi', 'Illi'],
    "IN":['Indiana', 'in', 'IN', 'indi', 'Indi'],
    "IA":['Iowa', 'ia', 'IA', 'iowa'],
    "KS":['Kansas', 'ks', 'KS', 'kans', 'Kans'],
    "KY":['Kentucky', 'ky', 'KY', 'kent', 'Kent'],
    "LA":['Louisiana', 'la', 'LA', 'loui', 'Loui'],
    "MA":['Massachusetts', 'ma', 'MA', 'mass', 'Mass'],
    "MD":['Maryland', 'md', 'MD', 'mary', 'Mary'],
    "ME":['Maine', 'me', 'ME', 'main', 'Main'],
    "MI":['Michigan', 'mi', 'MI', 'mich', 'Mich'],
    "MN":['Minnesota', 'mn', 'MN', 'minn', 'Minn'],
    "MO":['Missouri', 'mo', 'MO', 'Miso', 'miso'],
    "MS":['Mississippi', 'ms', 'MS', 'Misi', 'misi', 'miss', 'Miss'],
    "MT":['Montana', 'mt', 'MT', 'mont', 'Mont'],
    "NC":['North Carolina', 'NorthCarolina', 'nc', 'NC', 'NoCa', 'noca', 'ncar', 'Northcarolina'],
    "ND":['North Dakota', 'NorthDakota', 'nd', 'ND', 'NoDa', 'noda', 'ndak', 'Northdakota'],
    "NE":['Nebraska', 'ne', 'NE', 'Nebr', 'nrbt', 'nebr'],
    "NH":['New Hampshire', 'NewHampshire', 'nh', 'NH', 'NeHa', 'neha', 'newh'],
    "NJ":['New Jersey', 'NewJersey', 'nj', 'NJ', 'NeJe', 'neje', 'newj', 'Newjersey'],
    "NM":['New Mexico', 'NewMexico', 'nm', 'NM', 'NeMe', 'neme', 'newm', 'Newmexico'],
    "NV":['Nevada', 'nv', 'NV', 'Neva', 'neva'],
    "NY":['New York', 'NewYork', 'ny', 'NY', 'newy', 'NeYo', 'neyo', 'newY','Newyork'],
    "OH":['Ohio', 'oh', 'OH', 'ohio', 'nhio'],
    "OK":['Oklahoma', 'ok', 'OK', 'okla', 'Okla'],
    "OR":['Oregon', 'or', 'OR', 'oreg', 'Oreg', 'oeg'],
    "PA":['Pennsylvania', 'pa', 'PA', 'penn', 'Penn'],
    "RI":['Rhode Island', 'RhodeIsland', 'ri', 'RI', 'Rhls', 'rhod', 'Rhod', 'RhIs'],
    "SC":['South Carolina', 'SouthCarolina', 'sc', 'SC', 'SoCa', 'soca', 'scar', 'Southcarolina'],
    "SD":['South Dakota', 'SouthDakota', 'sd', 'SD', 'SoDa', 'soda', 'sdak', 'Southdakota'],
    "TN":['Tennessee', 'tn', 'TN', 'Tenn', 'tenn'],
    "TX":['Texas', 'tx', 'TX', 'texa', 'Texa'],
    "UT":['Utah', 'ut', 'UT', 'utah'],
    "VA":['Virginia', 'va', 'VA', 'virg', 'Virg', 'vrg'],
    "VT":['Vermont', 'vt', 'VT', 'verm', 'Verm'],
    "WA":['Washington', 'wa', 'WA', 'wash', 'Wash'],
    "WI":['Wisconsin', 'wi', 'WI', 'wisc', 'Wisc', 'wiso', 'wsc'],
    "WV":['West Virginia', 'WestVirginia', 'wv', 'WV', 'west', 'wevi', 'wvir', 'Westvirginia'],
    "WY":['Wyoming', 'wy', 'WY', 'wyom', 'Wyom']    
}

def getKey(val):
    for key, valueList in stateDict.items():
         for value in valueList:
            if val == value:
                 return key
    
    return False

print(getKey('Wisconsin'))

WI

In [321]:
# read csv file
# csv_list = glob.glob("/Users/ben/Desktop/climate-displacement/code/data/StateMigration/*/*/*.csv")
csv_list = glob.glob("../code/data/StateMigration/*/*/*.csv")

# create list of row_params
list_param = []

for csv_file in csv_list:
    # os.path.split returns a list of (head, tail) where head is the parent directories 
    # and tail is the filename and extension
    temp = os.path.split(csv_file)
    temp2 = os.path.split(temp[0])
    
    # get file name and parent folder from temp, temp2 respectively
    filename = temp[1]
    parentfile = temp2[1]
    
    # print (filename, parentfile)
    # print (type(filename))
    
    # extract state, year, and inflow/outflow
    # three different naming conventions in the StateMigration dataset
    # 1) [State][Year1Year2 e.g. (0708)][in/out]
    # 2) [State][Year2 e.g. 91][In/Out]
    # 3) [Year1Year2 like 1)]inmig[in/out][state INITIAL e.g. AL]
    # 4) [first 4 letters of State][Year2][in/ot]
    # 5) s9[last digits of Year1, Year2 e.g. 56][state INITIAL][ir/or]
    # 6) same as 4) but with extra "r" at the end
    
    # naming convention 1: used for years 2004-2009
    name1 = [2004,2005,2006,2007,2008]
    # naming convention 2: used for years 1990-1993
    name2 = [1990,1991,1992]
    # naming convention 3: used for years 2009-2011
    name3 = [2009,2010]
    # naming convention 4: used for years 1993-1995, 1996-2000, 2001-2004
    name4 = [1993,1994,1996,1997, 1998, 1999, 2001,2002,2003]
    # naming convention 5: used for years 1995-1996
    name5 = 1995
    # naming convention 6: used for years 2000-2001
    name6 = 2000
    
    # extract inflow/outflow, year using parentfile, and state using filename
    if parentfile[-6] == 'u':
        io = parentfile[-7:]
    elif parentfile[-5] == 'n':
        io = parentfile[-6:]
    year = int(parentfile[0:4])
    
    #2009to2010StateMigrationInflow
    # print(io, year)
    
    if year in name1:
        if io == 'Inflow':
            state = filename[:-10]
        elif io == 'Outflow':
            state = filename[:-11]
    elif year in name2:
        if io == 'Inflow':
            state = filename[:-8]
        elif io == 'Outflow':
            state = filename[:-9]
    elif year in name3:
        state = filename[-6:-4]
    elif year in name4:
        state = filename[:4]
        if state == 'vrg9':
            state = 'vrg'
        elif state == 'vrg0':
            state = 'vrg'
        elif state == 'az94':
            state = 'az'
        elif state == 'aka9':
            state = 'aka'
        elif state == 'wsc9':
            state = 'wsc'
    elif year == name5:
        state = filename[-8:-6]
    elif year == name6:
        state = filename[:4]
        if state == 'vrg0':
            state = 'vrg'
        elif state == 'oeg0':
            state = 'oeg'

    si = getKey(state)
    if si != False:
        row_param = [si, year, io]
    # print(row_param)
    
    # the total flow data in each years are located in different rows and columns.
    # type1 - 1990, 1991: located in row 9, columns D and F
    type1 = [1990, 1991]
    # type2 - 1992-1994, 2004-2006: located in row 9, columns D and E
    type2 = [1992,1993,1994,2004,2005,2006]
    # type3 - 1995-2003, 2007-2008: located in row 10, columns D and E
    type3 = [1995,1996,1997,1998,1999,2000,2001,2002,2003,2007,2008]
    # type4 - 2009-2010: located in row 8, columns E and F
    type4 = [2009,2010]
    
    data = pd.read_csv(csv_file)
    # print(data)
    if si != False:
        if year in type1:
            # total = data.iloc[7] #7, np.r_[3,5]
            totaltemp = data.iat[7,0]
            list = totaltemp.split(",")
            if ((si == "AL") and (io == "Outflow")):
                nor = list[4]
                noe = list[6]
            else:
                nor = list[3]
                noe = list[5]
        elif year in type2:
            # total = data.iloc[7] #7
            totaltemp = data.iat[7,0]
            #print(totaltemp)
            list = totaltemp.split(",")
            # print(list)
            nor = list[3]
            noe = list[4]
        elif year in type3:
            if year == 2003:
                nor = data.iat[8,4]
                noe = data.iat[8,5]
            elif year == 1997:
                nor = data.iat[8,4]
                noe = data.iat[8,5]
            elif year == 2002:
                totaltemp = data.iat[8,0]
                list = totaltemp.split(",")
                nor = list[3]
                noe = list[4]
            else:
                totaltemp = data.iat[7,0]
                list = totaltemp.split(",")
                nor = list[3]
                noe = list[4]
        elif year in type4:
            total = data.iloc[6]
            nor = data.iat[6,4]
            noe = data.iat[6,5]
        # print(data)    
        # print(total)
        # print(nor, noe)
        # print(data)
        
        row_param.append(nor)
        row_param.append(noe)
        
        list_param.append(row_param)
        # print(row_param)
        # data.shape
        # break
#print(list_param)

In [322]:
current = []
# print(list_param)
for row in list_param:
    isIOMatch = False

    for row2 in current:
        if ((row[0] == row2[0]) and (row[1] == row2[1])):
            
            if row[2] == "Inflow": # you have inflow data to add, outflow already exists
                row2.insert(3, row[3]) #0-si, 1-year, 2-io, 3-nor, 4-noe
                row2.insert(4, row[4])
                row2.pop(2)
                isIOMatch = True
            elif row[2] == "Outflow": # you have outflow data to add, inflow already exists
                row2.append(row[3])
                row2.append(row[4])
                row2.pop(2)
                isIOMatch = True
    if isIOMatch == False:
        if row[2] == "Inflow": # adding inflow data
            newrow = [row[0],row[1],"Inflow",row[3],row[4]]
        elif (row[2] == "Outflow"): # adding outflow data
            newrow = [row[0],row[1],"Outflow",row[3],row[4]]
        current.append(newrow)

In [323]:
# print(current)
data = pd.DataFrame(current, columns=['State', 'Year', 'NOR(I)', 'NOE(I)', 'NOR(O)', 'NOE(O)'])
print(data)

     State  Year    NOR(I)    NOE(I)    NOR(O)    NOE(O)
0       MN  2010   41038.0   73463.0   45173.0   77893.0
1       AZ  2010   83528.0  158038.0   80278.0  162164.0
2       AL  2010   42880.0   89794.0   43563.0   88001.0
3       MO  2010   55637.0  106395.0   60740.0  115708.0
4       NC  2010  114845.0  226709.0  101963.0  201396.0
...    ...   ...       ...       ...       ...       ...
1066    WA  2009   77278.0  147288.0   72538.0  136914.0
1067    TX  2009  204851.0  421684.0  163893.0  328137.0
1068    OR  2009   44892.0   78364.0   41180.0   74673.0
1069    NV  2009   44554.0   82221.0   47379.0   91828.0
1070    TN  2009   70156.0  139051.0   64116.0  127939.0

[1071 rows x 6 columns]

In [324]:
# convert df into csv?
stmg_csv = data.to_csv(output_path)
print()

In [325]:
"""
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f) and filename.endswith('.txt'):
        read_file = pd.read_excel (r'../code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow/Alabama91in.xls')
    read_file.to_csv (r'../code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow/Alabama91in.csv', index = None, header=True)


read_file = pd.read_excel (r'../code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow/Alabama91in.xls')
read_file.to_csv (r'../code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow/Alabama91in.csv', index = None, header=True)



location = "/Users/neely/Desktop/climate-displacement/code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow"
placement = "./Users/neely/Desktop/climate-displacement/code/data/StateMigration"

for file in glob.glob("*.xls"):
"""

"""
from os.path import isfile, join
onlyfiles = [f for f in listdir('../code/data/StateMigration/') if isfile(join('../code/data/StateMigration/', f))]
"""

"\nfrom os.path import isfile, join\nonlyfiles = [f for f in listdir('../code/data/StateMigration/') if isfile(join('../code/data/StateMigration/', f))]\n"

In [326]:
"""
# Create final dataset

1. Copy State_Disaster_by_Year
2. Add column for each natural disaster
3. Join over common year and state matches
4. Increase number of natural disasters if natural disaster of same type already exists in a year
"""

# FEMA Dataset Preprocessing

# copy data from State_Migration_by_Year.csv
original = r'../code/data/StateMigration/State_Migrations_by_Year.csv'
new = r'../code/data/Total/Neural_Network_Input.csv'
shutil.copyfile(original, new)

# read csv file
data = pd.read_csv(new)

# delete irrelevant rows
data.pop('Unnamed: 0')

# create climate disaster columns
data["Drought"] = 0
data["Earthquake"] = 0
data["Fire"] = 0
data["Flood"] = 0
data["Human Cause"] = 0
data["Hurricane"] = 0
data["Ice"] = 0
data["Mud/Landslide"] = 0
data["Other"] = 0
data["Snow"] = 0
data["Storm"] = 0
data["Terrorism"] = 0
data["Tornado"] = 0
data["Tsunami"] = 0
data["Typhoon"] = 0
data["Volcano"] = 0
data["Water"] = 0
data ["Winter"] = 0
data["Total disasters"] = 0

data.to_csv('../code/data/Total/Neural_Network_Input.csv')

     State  Year    NOR(I)    NOE(I)    NOR(O)    NOE(O)  Drought  Earthquake  \
0       MN  2010   41038.0   73463.0   45173.0   77893.0        0           0
1       AZ  2010   83528.0  158038.0   80278.0  162164.0        0           0
2       AL  2010   42880.0   89794.0   43563.0   88001.0        0           0
3       MO  2010   55637.0  106395.0   60740.0  115708.0        0           0
4       NC  2010  114845.0  226709.0  101963.0  201396.0        0           0
...    ...   ...       ...       ...       ...       ...      ...         ...
1066    WA  2009   77278.0  147288.0   72538.0  136914.0        0           0
1067    TX  2009  204851.0  421684.0  163893.0  328137.0        0           0
1068    OR  2009   44892.0   78364.0   41180.0   74673.0        0           0
1069    NV  2009   44554.0   82221.0   47379.0   91828.0        0           0
1070    TN  2009   70156.0  139051.0   64116.0  127939.0        0           0

      Fire  Flood  ...  Snow  Storm  Terrorism  Tornado  Tsunami  Typhoon  \
0        0      0  ...     0      0          0        0        0        0
1        0      0  ...     0      0          0        0        0        0
2        0      0  ...     0      0          0        0        0        0
3        0      0  ...     0      0          0        0        0        0
4        0      0  ...     0      0          0        0        0        0
...    ...    ...  ...   ...    ...        ...      ...      ...      ...
1066     0      0  ...     0      0          0        0        0        0
1067     0      0  ...     0      0          0        0        0        0
1068     0      0  ...     0      0          0        0        0        0
1069     0      0  ...     0      0          0        0        0        0
1070     0      0  ...     0      0          0        0        0        0

      Volcano  Water  Winter  Total disasters
0           0      0       0                0
1           0      0       0                0
2           0      0       0                0
3           0      0       0                0
4           0      0       0                0
...       ...    ...     ...              ...
1066        0      0       0                0
1067        0      0       0                0
1068        0      0       0                0
1069        0      0       0                0
1070        0      0       0                0

[1071 rows x 25 columns]

In [340]:
joinpath = r'../code/data/Disasters/State_Disasters_by_Year.csv'
datajoin = pd.read_csv(joinpath)

# join data with datajoin to create final dataset
for rowjoin in datajoin.iterrows():
    # loop over every row in datajoin
    join_state = rowjoin[1][1]
    join_start_year = rowjoin[1][3]
    join_disaster = rowjoin[1][2]

    # loop over every row in data to check for match
    for rowdata in data.iterrows():
        state = rowdata[1][0]
        year = rowdata[1][1]

        assert(len(rowdata[1]) == 25)

        drought = int(rowdata[1][7])
        earthquake = int(rowdata[1][8])
        fire = int(rowdata[1][9])
        flood = int(rowdata[1][10])
        human_cause = int(rowdata[1][11])
        hurricane = int(rowdata[1][12])
        ice = int(rowdata[1][13])
        mud_landslide = int(rowdata[1][14])
        other = int(rowdata[1][15])
        snow = int(rowdata[1][16])
        storm = int(rowdata[1][17])
        terrorism = int(rowdata[1][18])
        tornado = int(rowdata[1][19])
        tsunami = int(rowdata[1][20])
        typhoon = int(rowdata[1][21])
        volcano = int(rowdata[1][22])
        water = int(rowdata[1][23])
        winter = int(rowdata[1][24])


        if (state == join_state) and (year == join_start_year):
            if join_disaster == "Drought":
                drought += 1
                data.loc[rowdata[0]:rowdata[0],"Drought"] = drought
            elif join_disaster == "Earthquake":
                earthquake += 1
                data.loc[rowdata[0]:rowdata[0],"Earthquake"] = earthquake
          
            elif join_disaster == "Fire":
                fire += 1
                data.loc[rowdata[0]:rowdata[0],"Fire"] = fire
              
            elif join_disaster == "Flood":
                flood += 1
                data.loc[rowdata[0]:rowdata[0],"Flood"] = flood
             
            elif join_disaster == "Human Cause":
                human_cause += 1
                data.loc[rowdata[0]:rowdata[0],"Human Cause"] = human_cause
               
            elif join_disaster == "Hurricane":
                hurricane += 1
                data.loc[rowdata[0]:rowdata[0],"Hurricane"] = hurricane
              
            elif join_disaster == "Ice":
                ice += 1
                data.loc[rowdata[0]:rowdata[0],"Ice"] = ice
              
            elif join_disaster == "Mud/Landslide":
                mud_landslide += 1
                data.loc[rowdata[0]:rowdata[0],"Mud/Landslide"] = mud_landslide
                
            elif join_disaster == "Other":
                other += 1
                data.loc[rowdata[0]:rowdata[0],"Other"] = other
               
            elif join_disaster == "Snow":
                snow += 1
                data.loc[rowdata[0]:rowdata[0],"Snow"] = snow
                
            elif join_disaster == "Storm":
                storm += 1
                data.loc[rowdata[0]:rowdata[0],"Storm"] = storm
               
            elif join_disaster == "Terrorism":
                terrorism += 1
                data.loc[rowdata[0]:rowdata[0],"Terrorism"] = terrorism
            
            elif join_disaster == "Tornado":
                tornado += 1
                data.loc[rowdata[0]:rowdata[0],"Tornado"] = tornado
             
            elif join_disaster == "Tsunami":
                tsunami += 1
                data.loc[rowdata[0]:rowdata[0],"Tsunami"] = tsunami
             
            elif join_disaster == "Typhoon":
                typhoon += 1
                data.loc[rowdata[0]:rowdata[0],"Earthquake"] = earthquake
             
            elif join_disaster == "Volcano":
                volcano += 1
                data.loc[rowdata[0]:rowdata[0],"Volcano"] = volcano
            
            elif join_disaster == "Water":
                water += 1
                data.loc[rowdata[0]:rowdata[0],"Water"] = water
             
            elif join_disaster == "Winter":
                winter += 1
                data.loc[rowdata[0]:rowdata[0],"Winter"] = winter
              
            else:
                print("else")
            

# save changes csv
data.to_csv('./data/Total/Neural_Network_Input.csv')

else
else
else
     State  Year    NOR(I)    NOE(I)    NOR(O)    NOE(O)  Drought  Earthquake  \
0       MN  2010   41038.0   73463.0   45173.0   77893.0        0           0
1       AZ  2010   83528.0  158038.0   80278.0  162164.0        0           0
2       AL  2010   42880.0   89794.0   43563.0   88001.0        0           0
3       MO  2010   55637.0  106395.0   60740.0  115708.0        0           0
4       NC  2010  114845.0  226709.0  101963.0  201396.0        0           0
...    ...   ...       ...       ...       ...       ...      ...         ...
1066    WA  2009   77278.0  147288.0   72538.0  136914.0        0           0
1067    TX  2009  204851.0  421684.0  163893.0  328137.0        0           0
1068    OR  2009   44892.0   78364.0   41180.0   74673.0        0           0
1069    NV  2009   44554.0   82221.0   47379.0   91828.0        0           0
1070    TN  2009   70156.0  139051.0   64116.0  127939.0        0           0

      Fire  Flood  ...  Snow  Storm  Terrorism  Tornado  Tsunami  Typhoon  \
0        0      1  ...     0      1          0        1        0        0
1        1      0  ...     0      1          0        0        0        0
2        0      0  ...     0      1          0        0        0        0
3        0      0  ...     0      1          0        0        0        0
4        0      0  ...     0      1          0        0        0        0
...    ...    ...  ...   ...    ...        ...      ...      ...      ...
1066     2      1  ...     0      0          0        0        0        0
1067     1      0  ...     0      0          0        0        0        0
1068     1      0  ...     0      0          0        0        0        0
1069     1      0  ...     0      0          0        0        0        0
1070     0      0  ...     0      1          0        0        0        0

      Volcano  Water  Winter  Total disasters
0           0      0       1                0
1           0      0       0                0
2           0      0       0                0
3           0      0       0                0
4           0      0       0                0
...       ...    ...     ...              ...
1066        0      0       0                0
1067        0      0       0                0
1068        0      0       0                0
1069        0      0       0                0
1070        0      0       0                0

[1071 rows x 25 columns]

In [ ]:
"""

# training data
path = '../code/data/Total/Neural_Network_Training.csv'
training_data = pd.read_csv(path/'Neural_Network_Training.csv')
training_data.pop("Unnamed: 0")
# testing data
testing_data = pd.read_csv('../code/data/Total/Neural_Network_Testing.csv')
testing_data.pop("Unnamed: 0")

dls = TabularDataLoaders.from_csv('../code/data/Total/Neural_Network_Training.csv',
                                    )


# learn
# learn = tabular_learner(data, layers=[1000, 200, 15], metric=accuracy, emb_drop=0.1, callback_fns=ShowGraph)

# dependent variables
dependent_var1 = 'NOR(I)'
dependent_var2 = 'NOE(I)'
dependent_var3 = 'NOR(O)'
dependent_var4 = 'NOE(O)'

# categorical columns
category_names = ['Drought','Earthquake','Fire','Flood','Human Cause','Hurricane','Ice','Mud/Landslide','Other','Snow','Storm','Terrorism','Tornado','Tsunami','Typhoon','Volcano','Water','Winter','Total disasters']

# test tabularlist
test = TabularDataLoaders.from_df(testing_data,cat_names=category_names)
print(len(test))

# train bunch
data = (TabularDataLoaders.from_df(training_data, path='.', cat_names=category_names)
                        .split_by_rand_pct(valid_pct = 0.1, seed = 42)
                        .label_from_df(cols = dep_var, label_cls = FloatList, log = True )
                        .add_test(test)
                        .databunch())

# learn
learn = tabular_learner(data, layers=[200,100], metrics=rmse)

# learning rate
learn.lr_find()
learn.recorder.plot()

# fit model with learning rate
learn.fit_one_cycle(15, max_lr =1e-01)

# get predictions
preds, targets = learn.get_preds(DatasetType.Test)
labels = [np.exp(p[0].data.item()) for p in preds]

# create final csv
prediction = pd.DataFrame({'Id': test_id, 'NOR(1)': labels})
prediction.to_csv('prediction.csv', index=False)
prediction.head()


# learn
learn = tabular_learner(data)

# model
emb_szs = [(4,2), (17,8)]
m = TabularModel(emb_szs, n_cont=2, out_sz=2, layers=[200,100]).eval()
x_cat = torch.tensor([[2,12]]).long()
x_cont = torch.tensor([[0.7633, -0.1887]]).float()
out = m(x_cat, x_cont)
"""

In [6]:
"""
# Neural Network -> fastai
https://docs.fast.ai/tabular.core.html

All:
- code/data/Total/Neural_Network_Training.csv

Training Data; 
- code/data/Total/Neural_Network_Training.csv

Testing Data:
- code/data/Total/Neural_Network_Testing.csv

Input: 
- Disasters (17)
- State -cat-names
- Year -cont-names

Output:
- NOR(I): Number of returns (inflow)
- NOE(I): Number of exemptions (outflow)
- NOR(O): Number of returns (inflow)
- NOE(O): Number of exemptions (outflow)

1. Did we split up the testing and training data in the right way?
2. Is there enough data to go through the neural network? Is this what is breaking our neural network?
3. How do we get all the outputs to be predicted? (currently only NOE(I))
4. Should we normalize the data like we did?
5. Is tabular learning the right way to get the results we want with the given data?
"""

from fastai import *
from fastai.tabular.all import *

# import data
# df = pd.read_csv('../code/data/Total/Neural_Network_Training.csv')
df = pd.read_csv('../code/data/Total/Total_Input_Training.csv')
df.head()

# normalize outputs
normalized_df = (df-df.mean())/df.std()
normalized_df = normalized_df.fillna(0)

# data loader
# dls = TabularDataLoaders.from_csv('../code/data/Total/Neural_Network_Training.csv', 
#                                     path = '../code/data/Total/Neural_Network_Training.csv',
#                                     y_names = 'NOE(I)', 
#                                     cont_names = ['Drought','Earthquake','Fire','Flood','Human Cause','Hurricane','Ice','Mud/Landslide','Other','Snow','Storm','Terrorism','Tornado','Tsunami','Typhoon','Volcano','Water','Winter','Total disasters'],
#                                     procs = [FillMissing, Normalize])

splits = RandomSplitter(valid_pct=0.2)(range_of(normalized_df))
to = TabularPandas(normalized_df, procs=[FillMissing],
                                cont_names = ['Drought','Earthquake','Fire','Flood','Human Cause','Hurricane','Ice','Mud/Landslide','Other','Snow','Storm','Terrorism','Tornado','Tsunami','Typhoon','Volcano','Water','Winter','Total disasters'],
                                y_names='NOE(I)',
                                splits = splits)

# print(to.xs.iloc[:-1])

dls = to.dataloaders(bs=10)
print(dls.show_batch())

learn = tabular_learner(dls, metrics=[mse,mae])
learn.fit_one_cycle(100)

learn.show_results()

# for b in dls.train:
#     print(b[2])
#     break

None

In [8]:
normalized_df.corr
# plot this - heat map

<bound method DataFrame.corr of      Drought  Earthquake      Fire     Flood  Human Cause  Hurricane  \
0  -0.218218   -0.730297 -1.175773  1.858414    -0.316624  -0.575789
1  -0.218218    2.556039 -1.029671  1.858414    -0.316624  -0.242994
2  -0.218218    0.365148 -1.321875 -0.414986    -0.316624  -0.575789
3  -0.218218   -0.730297 -0.445263  2.047864    -0.316624  -0.242994
4  -0.218218   -0.730297 -0.299161 -0.036086    -0.316624   0.200734
5  -0.218218    0.365148  1.307961 -0.793886    -0.316624  -0.575789
6  -0.218218    1.460593  0.869655 -0.414986    -0.316624  -0.242994
7  -0.218218   -0.730297  0.139145 -0.983336    -0.316624   0.422598
8  -0.218218    1.460593  1.454063 -0.793886    -0.316624  -0.575789
9  -0.218218   -0.730297  0.285247 -0.414986    -0.316624   0.089802
10 -0.218218    0.365148 -0.006957  0.532264    -0.316624  -0.242994
11 -0.218218   -0.730297 -1.029671  0.342814    -0.316624   0.089802
12  4.364358    0.365148 -1.029671  1.100614     3.007926  -0.464858
13 -0.218218   -0.730297 -1.321875 -0.036086     3.007926  -0.242994
14 -0.218218   -0.730297 -1.321875  0.721714    -0.316624  -0.575789
15 -0.218218   -0.730297  0.431349 -0.604436    -0.316624   0.977257
16 -0.218218    0.365148  1.600165 -0.225536    -0.316624  -0.575789
17 -0.218218    1.460593  0.577451 -1.172786    -0.316624   0.311666
18 -0.218218   -0.730297  0.285247 -0.793886    -0.316624   3.972419
19 -0.218218   -0.730297  1.015757 -0.983336    -0.316624  -0.464858
20 -0.218218   -0.730297  1.015757 -0.793886    -0.316624  -0.464858

         Ice  Mud/Landslide    NOE(I)    NOE(O)  ...  Terrorism   Tornado  \
0  -0.404755      -0.218218 -0.314334 -0.314584  ...  -0.218218 -0.422421
1  -0.971413      -0.218218 -0.311526 -0.314614  ...  -0.218218  1.624696
2  -0.971413      -0.218218 -0.311496 -0.313535  ...  -0.218218 -0.422421
3  -0.404755      -0.218218 -0.314500 -0.315242  ...  -0.218218 -1.104793
4   0.161902       4.364358 -0.312437 -0.314050  ...  -0.218218  0.259951
5   1.295218      -0.218218 -0.310541 -0.312299  ...  -0.218218  0.942324
6   2.428533      -0.218218 -0.327224 -0.325235  ...  -0.218218  0.942324
7  -0.404755      -0.218218 -0.317415 -0.315594  ...  -0.218218 -1.104793
8  -0.404755      -0.218218 -0.312716 -0.308223  ...  -0.218218 -1.104793
9   1.295218      -0.218218 -0.310725 -0.312961  ...  -0.218218 -1.104793
10 -0.404755      -0.218218 -0.324283 -0.322344  ...  -0.218218  0.259951
11  0.728560      -0.218218 -0.313805 -0.320389  ...  -0.218218  0.259951
12 -0.971413      -0.218218 -0.314892 -0.316536  ...  -0.218218  0.942324
13 -0.971413      -0.218218 -0.316481 -0.318252  ...  -0.218218  0.942324
14 -0.971413      -0.218218  2.628027  2.702200  ...  -0.218218 -0.422421
15 -0.404755      -0.218218 -0.311220 -0.312914  ...  -0.218218  2.307068
16 -0.971413      -0.218218 -0.312711 -0.313907  ...   4.364358 -1.104793
17  0.161902      -0.218218  3.348535  3.287716  ...  -0.218218 -0.422421
18 -0.404755      -0.218218 -0.306560 -0.304924  ...  -0.218218  0.259951
19  1.295218      -0.218218 -0.302462 -0.305139  ...  -0.218218 -1.104793
20  1.295218      -0.218218 -0.331232 -0.329174  ...  -0.218218 -0.422421

    Total disasters  Tsunami  Typhoon  Unnamed: 0  Volcano     Water  \
0         -1.417013      0.0      0.0         0.0      0.0 -0.218218
1         -0.970972      0.0      0.0         0.0      0.0 -0.218218
2         -1.353293      0.0      0.0         0.0      0.0  4.364358
3          0.749469      0.0      0.0         0.0      0.0 -0.218218
4         -0.078892      0.0      0.0         0.0      0.0 -0.218218
5          0.813189      0.0      0.0         0.0      0.0 -0.218218
6         -0.078892      0.0      0.0         0.0      0.0 -0.218218
7          0.494589      0.0      0.0         0.0      0.0 -0.218218
8          0.430869      0.0      0.0         0.0      0.0 -0.218218
9          0.685749      0.0      0.0         0.0      0.0 -0.218218
10         0.685749      0.0      0.0         0.0      0.0 -0.218218
11        -1.162133      0.0      0.0         0.0      0.0 -0.218218
12        -0.397492      0.0      0.0         0.0      0.0 -0.218218
13        -1.353293      0.0      0.0         0.0      0.0 -0.218218
14        -1.417013      0.0      0.0         0.0      0.0 -0.218218
15         0.112269      0.0      0.0         0.0      0.0 -0.218218
16        -0.015171      0.0      0.0         0.0      0.0 -0.218218
17         1.068070      0.0      0.0         0.0      0.0 -0.218218
18         2.406191      0.0      0.0         0.0      0.0 -0.218218
19         0.367149      0.0      0.0         0.0      0.0 -0.218218
20         0.430869      0.0      0.0         0.0      0.0 -0.218218

      Winter      Year
0   1.380131 -1.611646
1  -0.690066 -1.289317
2   1.380131 -0.966988
3  -0.690066 -0.644658
4   1.380131 -0.322329
5   1.380131  0.000000
6   1.380131  0.322329
7  -0.690066  0.644658
8  -0.690066  0.966988
9  -0.690066  1.289317
10  1.380131  1.611646
11 -0.690066 -1.450481
12 -0.690066 -1.128152
13 -0.690066 -0.805823
14 -0.690066 -0.483494
15 -0.690066 -0.161165
16 -0.690066  0.161165
17 -0.690066  0.483494
18 -0.690066  0.805823
19  1.380131  1.128152
20 -0.690066  1.450481

[21 rows x 26 columns]>