Notebook

# Climate Displacement

Disaster Types
- Year
- State
- Households Inflow (Number of Returns)
- Households Outflow (Number of Returns)
- Individuals Inflow (Number of Exemptions)
- Individuals Outflow (Number of Exemptions)
- Chemical
- Dam/Levee Break
- Drought
- Earthquake
- Fire
- Flood
- Human Cause
- Hurricane
- Ice
- Mud/Landslide
- Other
- Snow
- Storm
- Terrorism
- Tornado
- Tsunami
- Typhoon
- Volcano
- Water
- Winter

In [ ]:
"""
Folders Setup

code 
    notebook.ipynb
    data
        Disasters
            FEMA_dataset.csv
        StateMigration
            1990to1991StateMigration
                 1990to1991StateMigrationInflow
                     Alabama91in.xls
                     Alaska91in.xls
                     .
                     .
                     .
                     Wisconsin91in.xls
                     Wyoming91in.xls 
                 1990to1991StateMigrationOutflow
                     Alabama91Out.xls
                     Alaska91Out.xls 
                     .
                     .
                     .
                     Wisconsin91Out.xls
                     Wyoming91Out.xls 
            .
            .
            .
            2008to2009StateMigration
            2009to2010StateMigration
            2010to2011StateMigration 
"""

## Pseudocode:

### FEMA Dataset Pre-processing (Neely)
1. Create new FEMA_dataset with columns 
    - contains Year, State, Disaster Type
2. Name file "State_Disasters_by_Year"

### StateMigration Data Pre-Processing (Ben)
1. Convert all datasets in StateMigration from .xls into .csv files
2. Extract "Total Flow" row with "Number of Returns" and "Number of Exemptions" - assign I if from inflow and O if from outflow - from every state file.
3. Extract "State" and "Year" from every file
4. Create file with "State" (from file name), "Year" (from file name), "Number_of_Returns_I", "Number_of_Exemptions_I", "Number_of_Returns_I" and "Number_of_Exemptions_O"
5. Name file "State Migration by Year"

### Merge Datasets (Both)
1. Merge datasets on common attributes "Year" and "State"
2. Name dataset "State_Migration_and_Disasters_by_Year"

#### Train and Testing
1. Create training and testing datasets
    Questions: How should we split training and testing data?
2. Create Neural Network models
    Input: Year, State, Disaster Type
    Output: Migration Inflow (Household/Individual), Migration Outflow (Household/Individual)
3. Put training and testing through the Neural Network models.
4. Evaluate which models are the most effective.
---
Data Augmentation
Synthetic Data
Use svm or decision tree -- skleant -- and compare against a neural network
could use all data for training and all data for validation - not this is a faulty practice in 
20% distribution of state 


```
read_file = pd.read_excel ("Test.xlsx")
 
# Write the dataframe object
# into csv file
read_file.to_csv ("Test.csv",
                  index = None,
                  header=True)
```

In [253]:
# adding imports
import shutil
import pandas as pd
import os
import glob
import xlrd
import csv
import numpy as np
#from fastai import *

### FEMA Dataset Pre-processing

Creates State_Disasters_by_Year.csv with:
- State
- Disaster Type
- Start Year
- End Year

In [ ]:
# FEMA Dataset Preprocessing

# copy original FEMA dataset to new file
original = r'../code/data/Disasters/FEMA_dataset.csv'
new = r'../code/data/Disasters/State_Disasters_by_Year.csv'
shutil.copyfile(original, new)

# read csv file
data = pd.read_csv('~/code/data/Disasters/State_Disasters_by_Year.csv')

# delete irrelevant rows
data.pop('Declaration Number')
data.pop('Declaration Type')
data.pop('Declaration Date')
data.pop('County')
data.pop('Disaster Title')
data.pop('Close Date')
data.pop('Individual Assistance Program')
data.pop('Public Assistance Program')
data.pop('Hazard Mitigation Program')
data.pop('Individuals & Households Program')

# extract years
data['Start Year'] = pd.DatetimeIndex(data['Start Date']).year
data['End Year'] = pd.DatetimeIndex(data['End Date']).year

# delete start and end dates
data.pop('Start Date')
data.pop('End Date')

print(data)

# save changes csv
data.to_csv('../code/data/Disasters/State_Disasters_by_Year.csv')

### Converting State Migration data from .xls to .csv

Converting all datasets in StateMigration from .xls to .csv

In [ ]:
# Convert all files in StateMigration folder from .xls to .csv

# create list of xls files
xls_list = glob.glob("/Users/ben/Desktop/climate-displacement/code/data/StateMigration/*/*/*.xls")

# replace xls 
for xls_file in xls_list:
    
    wb = xlrd.open_workbook(xls_file)
    sh = wb.sheet_by_index(0)
    csv_file = open(xls_file[0:-3]+'csv', "w")
    wr = csv.writer(csv_file, quoting=csv.QUOTE_ALL)
    
    for rownum in range(sh.nrows):
        wr.writerow(sh.row_values(rownum))
        
    csv_file.close()
    
    # remove .xls files
    os.remove(xls_file)

### More data wrangling - StateMigration dataset
- Extract "Total Flow" row with "Number of Returns" and "Number of Exemptions"
- Assign "I" if from inflow and "O" if from outflow - for every state file
- Extract "State" and "Year" from every file
- Create file with "State" (from file name), "Year" (from file name), "Number of Returns_I", "Number of Exemptions I", "Number of Returns O" and "Number of Exemptions O"

### Pseudocode

1. create output path in repository for the merged StateMigration dataset

2. read each csv file in the StateMigration folder, and for each file, 
    - d
3. check the csv files to make sure they are the intended data
4. remove the original csv files

In [ ]:
# set new file location for merged StateMigration dataset
output_path = r'../code/data/StateMigration/State_Migrations_by_Year.csv'

In [ ]:
# create the output file at output_path
output = open(output_path, "w")
output.close()

In [ ]:
# create empty DataFrame object
df = pd.DataFrame()
df.insert(0,'State', '')
df.insert(1,'Year', '')
df.insert(2,'NOR(I)', '')
df.insert(3,'NOE(I)', '')
df.insert(4,'NOR(O)', '')
df.insert(5,'NOE(O)', '')

# print(df)

In [223]:
# create dictionary of "state initial keys" with multiple "values"
# run each segment through dictionary, and convert into state initial
stateDict = {
    "AL":['Alabama', 'al', 'AL', 'alab', 'Alab'],
    "AK":['Alaska', 'ak', 'AK', 'alas', 'Alas'],
    "AZ":['Arizona', 'az', 'AZ', 'ariz', 'Ariz'],
    "AR":['Arkansas', 'ar', 'AR', 'arka', 'Arka', 'aka'],
    "CA":['California', 'ca', 'CA', 'cali', 'Cali'],
    "CO":['Colorado', 'co', 'CO', 'colo', 'Colo'],
    "CT":['Connecticut', 'ct', 'CT', 'conn', 'Conn'],
    "DE":['Delaware', 'de', 'DE', 'dela', 'Dela'],
    "DC":['DistrictofColumbia', 'Districtofcolumbia', 'District of Columbia', 'dc', 'DC', 'dist', 'Dist', 'DiCo', 'dico'],
    "FL":['Florida', 'fl', 'FL', 'flor', 'Flor'],
    "GA":['Georgia', 'ga', 'GA', 'geor', 'Geor'],
    "HI":['Hawaii', 'hi', 'HI', 'hawa', 'Hawa'],
    "ID":['Idaho', 'id', 'ID', 'idah', 'Idah'],
    "IL":['Illinois', 'il', 'IL', 'illi', 'Illi'],
    "IN":['Indiana', 'in', 'IN', 'indi', 'Indi'],
    "IA":['Iowa', 'ia', 'IA', 'iowa'],
    "KS":['Kansas', 'ks', 'KS', 'kans', 'Kans'],
    "KY":['Kentucky', 'ky', 'KY', 'kent', 'Kent'],
    "LA":['Louisiana', 'la', 'LA', 'loui', 'Loui'],
    "MA":['Massachusetts', 'ma', 'MA', 'mass', 'Mass'],
    "MD":['Maryland', 'md', 'MD', 'mary', 'Mary'],
    "ME":['Maine', 'me', 'ME', 'main', 'Main'],
    "MI":['Michigan', 'mi', 'MI', 'mich', 'Mich'],
    "MN":['Minnesota', 'mn', 'MN', 'minn', 'Minn'],
    "MO":['Missouri', 'mo', 'MO', 'Miso', 'miso'],
    "MS":['Mississippi', 'ms', 'MS', 'Misi', 'misi', 'miss', 'Miss'],
    "MT":['Montana', 'mt', 'MT', 'mont', 'Mont'],
    "NC":['North Carolina', 'NorthCarolina', 'nc', 'NC', 'NoCa', 'noca', 'ncar', 'Northcarolina'],
    "ND":['North Dakota', 'NorthDakota', 'nd', 'ND', 'NoDa', 'noda', 'ndak', 'Northdakota'],
    "NE":['Nebraska', 'ne', 'NE', 'Nebr', 'nrbt', 'nebr'],
    "NH":['New Hampshire', 'NewHampshire', 'nh', 'NH', 'NeHa', 'neha', 'newh'],
    "NJ":['New Jersey', 'NewJersey', 'nj', 'NJ', 'NeJe', 'neje', 'newj', 'Newjersey'],
    "NM":['New Mexico', 'NewMexico', 'nm', 'NM', 'NeMe', 'neme', 'newm', 'Newmexico'],
    "NV":['Nevada', 'nv', 'NV', 'Neva', 'neva'],
    "NY":['New York', 'NewYork', 'ny', 'NY', 'newy', 'NeYo', 'neyo', 'newY','Newyork'],
    "OH":['Ohio', 'oh', 'OH', 'ohio', 'nhio'],
    "OK":['Oklahoma', 'ok', 'OK', 'okla', 'Okla'],
    "OR":['Oregon', 'or', 'OR', 'oreg', 'Oreg', 'oeg'],
    "PA":['Pennsylvania', 'pa', 'PA', 'penn', 'Penn'],
    "RI":['Rhode Island', 'RhodeIsland', 'ri', 'RI', 'Rhls', 'rhod', 'Rhod', 'RhIs'],
    "SC":['South Carolina', 'SouthCarolina', 'sc', 'SC', 'SoCa', 'soca', 'scar', 'Southcarolina'],
    "SD":['South Dakota', 'SouthDakota', 'sd', 'SD', 'SoDa', 'soda', 'sdak', 'Southdakota'],
    "TN":['Tennessee', 'tn', 'TN', 'Tenn', 'tenn'],
    "TX":['Texas', 'tx', 'TX', 'texa', 'Texa'],
    "UT":['Utah', 'ut', 'UT', 'utah'],
    "VA":['Virginia', 'va', 'VA', 'virg', 'Virg', 'vrg'],
    "VT":['Vermont', 'vt', 'VT', 'verm', 'Verm'],
    "WA":['Washington', 'wa', 'WA', 'wash', 'Wash'],
    "WI":['Wisconsin', 'wi', 'WI', 'wisc', 'Wisc', 'wiso', 'wsc'],
    "WV":['West Virginia', 'WestVirginia', 'wv', 'WV', 'west', 'wevi', 'wvir', 'Westvirginia'],
    "WY":['Wyoming', 'wy', 'WY', 'wyom', 'Wyom']    
}

def getKey(val):
    for key, valueList in stateDict.items():
         for value in valueList:
            if val == value:
                 return key
    
    return False

print(getKey('Wisconsin'))

WI

In [264]:
# read csv file
csv_list = glob.glob("/Users/ben/Desktop/climate-displacement/code/data/StateMigration/*/*/*.csv")

for csv_file in csv_list:
    # os.path.split returns a list of (head, tail) where head is the parent directories 
    # and tail is the filename and extension
    temp = os.path.split(csv_file)
    temp2 = os.path.split(temp[0])
    
    # get file name and parent folder from temp, temp2 respectively
    filename = temp[1]
    parentfile = temp2[1]
    
    # print (filename, parentfile)
    # print (type(filename))
    
    # extract state, year, and inflow/outflow
    # three different naming conventions in the StateMigration dataset
    # 1) [State][Year1Year2 e.g. (0708)][in/out]
    # 2) [State][Year2 e.g. 91][In/Out]
    # 3) [Year1Year2 like 1)]inmig[in/out][state INITIAL e.g. AL]
    # 4) [first 4 letters of State][Year2][in/ot]
    # 5) s9[last digits of Year1, Year2 e.g. 56][state INITIAL][ir/or]
    # 6) same as 4) but with extra "r" at the end
    
    # naming convention 1: used for years 2004-2009
    name1 = [2004,2005,2006,2007,2008]
    # naming convention 2: used for years 1990-1993
    name2 = [1990,1991,1992]
    # naming convention 3: used for years 2009-2011
    name3 = [2009,2010]
    # naming convention 4: used for years 1993-1995, 1996-2000, 2001-2004
    name4 = [1993,1994,1996,1997, 1998, 1999, 2001,2002,2003]
    # naming convention 5: used for years 1995-1996
    name5 = 1995
    # naming convention 6: used for years 2000-2001
    name6 = 2000
    
    # extract inflow/outflow, year using parentfile, and state using filename
    if parentfile[-6] == 'u':
        io = parentfile[-7:]
    elif parentfile[-5] == 'n':
        io = parentfile[-6:]
    year = int(parentfile[0:4])
    
    #2009to2010StateMigrationInflow
    # print(io, year)
    
    if year in name1:
        if io == 'Inflow':
            state = filename[:-10]
        elif io == 'Outflow':
            state = filename[:-11]
    elif year in name2:
        if io == 'Inflow':
            state = filename[:-8]
        elif io == 'Outflow':
            state = filename[:-9]
    elif year in name3:
        state = filename[-6:-4]
    elif year in name4:
        state = filename[:4]
        if state == 'vrg9':
            state = 'vrg'
        elif state == 'vrg0':
            state = 'vrg'
        elif state == 'az94':
            state = 'az'
        elif state == 'aka9':
            state = 'aka'
        elif state == 'wsc9':
            state = 'wsc'
    elif year == name5:
        state = filename[-8:-6]
    elif year == name6:
        state = filename[:4]
        if state == 'vrg0':
            state = 'vrg'
        elif state == 'oeg0':
            state = 'oeg'

    si = getKey(state)
    if si != False:
        row_param = [si, year, io]
    # print(row_param)
    
    # the total flow data in each years are located in different rows and columns.
    # type1 - 1990, 1991: located in row 9, columns D and F
    type1 = [1990, 1991]
    # type2 - 1992-1994, 2004-2006: located in row 9, columns D and E
    type2 = [1992,1993,1994,2004,2005,2006]
    # type3 - 1995-2003, 2007-2008: located in row 10, columns D and E
    type3 = [1995,1996,1997,1998,1999,2000,2001,2002,2003,2007,2008]
    # type4 - 2009-2010: located in row 8, columns E and F
    type4 = [2009,2010]
    
    data = pd.read_csv(csv_file)
    if year in type1:
        total = data.loc[7,np.r_[3,5]]
    elif year in type2:
        total = data.loc[7,3:5]
    elif year in type3:
        total = data.loc[8,3:5]
    elif year in type4:
        total = data.loc[6,]
    print(data)    
    print(total)   
    # print(data)
    # data.shape

                                    MINNESOTA OUTFLOW        Unnamed: 1  \
0   Individual Income Tax Returns: State-to-State ...               NaN
1         [Money amounts are in thousands of dollars]               NaN
2                  Origin from Minnesota (State Code)  Destination into
3                                                 NaN        State Code
4                                                 NaN               NaN
..                                                ...               ...
57                                               27.0              10.0
58                                               27.0              50.0
59                                               27.0              54.0
60  NOTE: Data are based on Individual Income Tax ...               NaN
61  Source:  IRS Individual Master File, Statistic...               NaN

   Unnamed: 2     Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0         NaN            NaN                NaN                   NaN
1         NaN            NaN                NaN                   NaN
2         NaN            NaN  Number of returns  Number of exemptions
3       State     State Name                NaN                   NaN
4         NaN            NaN               -1.0                  -2.0
..        ...            ...                ...                   ...
57         DE       DELAWARE               55.0                  95.0
58         VT        VERMONT               53.0                  94.0
59         WV  WEST VIRGINIA               46.0                  74.0
60        NaN            NaN                NaN                   NaN
61        NaN            NaN                NaN                   NaN

                                Unnamed: 6
0                                      NaN
1                                      NaN
2   Aggregate adjusted gross income (AGI)
3                                      NaN
4                                     -3.0
..                                     ...
57                                  2187.0
58                                  2704.0
59                                  2234.0
60                                     NaN
61                                     NaN

[62 rows x 7 columns]
MINNESOTA OUTFLOW                 27.0
Unnamed: 1                        97.0
Unnamed: 2                          MN
Unnamed: 3           MN Total Mig - US
Unnamed: 4                     45173.0
Unnamed: 5                     77893.0
Unnamed: 6                   2292396.0
Name: 6, dtype: object
                                      ARIZONA OUTFLOW        Unnamed: 1  \
0   Individual Income Tax Returns: State-to-State ...               NaN
1         [Money amounts are in thousands of dollars]               NaN
2                    Origin from Arizona (State Code)  Destination into
3                                                 NaN        State Code
4                                                 NaN               NaN
..                                                ...               ...
57                                                4.0              44.0
58                                                4.0              50.0
59                                                4.0              10.0
60  NOTE: Data are based on Individual Income Tax ...               NaN
61  Source:  IRS Individual Master File, Statistic...               NaN

   Unnamed: 2    Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0         NaN           NaN                NaN                   NaN
1         NaN           NaN                NaN                   NaN
2         NaN           NaN  Number of returns  Number of exemptions
3       State    State Name                NaN                   NaN
4         NaN           NaN               -1.0                  -2.0
..        ...           ...                ...                   ...
57         RI  RHODE ISLAND              137.0                 236.0
58         VT       VERMONT              126.0                 241.0
59         DE      DELAWARE               97.0                 180.0
60        NaN           NaN                NaN                   NaN
61        NaN           NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 6855.0
58                                 5942.0
59                                 4356.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
ARIZONA OUTFLOW                  4.0
Unnamed: 1                      97.0
Unnamed: 2                        AZ
Unnamed: 3         AZ Total Mig - US
Unnamed: 4                   80278.0
Unnamed: 5                  162164.0
Unnamed: 6                 3376771.0
Name: 6, dtype: object
                                      ALABAMA OUTFLOW        Unnamed: 1  \
0   Individual Income Tax Returns: State-to-State ...               NaN
1         [Money amounts are in thousands of dollars]               NaN
2                    Origin from Alabama (State Code)  Destination into
3                                                 NaN        State Code
4                                                 NaN               NaN
..                                                ...               ...
57                                                1.0              10.0
58                                                1.0              50.0
59                                                1.0              44.0
60  NOTE: Data are based on Individual Income Tax ...               NaN
61  Source:  IRS Individual Master File, Statistic...               NaN

   Unnamed: 2    Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0         NaN           NaN                NaN                   NaN
1         NaN           NaN                NaN                   NaN
2         NaN           NaN  Number of returns  Number of exemptions
3       State    State Name                NaN                   NaN
4         NaN           NaN               -1.0                  -2.0
..        ...           ...                ...                   ...
57         DE      DELAWARE               45.0                  97.0
58         VT       VERMONT               34.0                  73.0
59         RI  RHODE ISLAND               24.0                  40.0
60        NaN           NaN                NaN                   NaN
61        NaN           NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 1834.0
58                                 1479.0
59                                  847.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
ALABAMA OUTFLOW                  1.0
Unnamed: 1                      97.0
Unnamed: 2                        AL
Unnamed: 3         AL Total Mig - US
Unnamed: 4                   43563.0
Unnamed: 5                   88001.0
Unnamed: 6                 1787617.0
Name: 6, dtype: object
                                     MISSOURI OUTFLOW        Unnamed: 1  \
0   Individual Income Tax Returns: State-to-State ...               NaN
1         [Money amounts are in thousands of dollars]               NaN
2                   Origin from Missouri (State Code)  Destination into
3                                                 NaN        State Code
4                                                 NaN               NaN
..                                                ...               ...
57                                               29.0              10.0
58                                               29.0              44.0
59                                               29.0              50.0
60  NOTE: Data are based on Individual Income Tax ...               NaN
61  Source:  IRS Individual Master File, Statistic...               NaN

   Unnamed: 2    Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0         NaN           NaN                NaN                   NaN
1         NaN           NaN                NaN                   NaN
2         NaN           NaN  Number of returns  Number of exemptions
3       State    State Name                NaN                   NaN
4         NaN           NaN               -1.0                  -2.0
..        ...           ...                ...                   ...
57         DE      DELAWARE               73.0                 145.0
58         RI  RHODE ISLAND               53.0                  73.0
59         VT       VERMONT               42.0                  84.0
60        NaN           NaN                NaN                   NaN
61        NaN           NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 4458.0
58                                 2013.0
59                                 2151.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
MISSOURI OUTFLOW                 29.0
Unnamed: 1                       97.0
Unnamed: 2                         MO
Unnamed: 3          MO Total Mig - US
Unnamed: 4                    60740.0
Unnamed: 5                   115708.0
Unnamed: 6                  2747607.0
Name: 6, dtype: object
                               NORTH CAROLINA OUTFLOW        Unnamed: 1  \
0   Individual Income Tax Returns: State-to-State ...               NaN
1         [Money amounts are in thousands of dollars]               NaN
2             Origin from North Carolina (State Code)  Destination into
3                                                 NaN        State Code
4                                                 NaN               NaN
..                                                ...               ...
57                                               37.0              46.0
58                                               37.0              56.0
59                                               37.0              38.0
60  NOTE: Data are based on Individual Income Tax ...               NaN
61  Source:  IRS Individual Master File, Statistic...               NaN

   Unnamed: 2    Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0         NaN           NaN                NaN                   NaN
1         NaN           NaN                NaN                   NaN
2         NaN           NaN  Number of returns  Number of exemptions
3       State    State Name                NaN                   NaN
4         NaN           NaN               -1.0                  -2.0
..        ...           ...                ...                   ...
57         SD  SOUTH DAKOTA              161.0                 326.0
58         WY       WYOMING              138.0                 272.0
59         ND  NORTH DAKOTA              130.0                 264.0
60        NaN           NaN                NaN                   NaN
61        NaN           NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 6963.0
58                                 4997.0
59                                 4939.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
NORTH CAROLINA OUTFLOW                 37.0
Unnamed: 1                             97.0
Unnamed: 2                               NC
Unnamed: 3                NC Total Mig - US
Unnamed: 4                         101963.0
Unnamed: 5                         201396.0
Unnamed: 6                        4479592.0
Name: 6, dtype: object
                                WEST VIRGINIA OUTFLOW        Unnamed: 1  \
0   Individual Income Tax Returns: State-to-State ...               NaN
1         [Money amounts are in thousands of dollars]               NaN
2              Origin from West Virginia (State Code)  Destination into
3                                                 NaN        State Code
4                                                 NaN               NaN
..                                                ...               ...
57                                               54.0              16.0
58                                               54.0              46.0
59                                               54.0              44.0
60  NOTE: Data are based on Individual Income Tax ...               NaN
61  Source:  IRS Individual Master File, Statistic...               NaN

   Unnamed: 2    Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0         NaN           NaN                NaN                   NaN
1         NaN           NaN                NaN                   NaN
2         NaN           NaN  Number of returns  Number of exemptions
3       State    State Name                NaN                   NaN
4         NaN           NaN               -1.0                  -2.0
..        ...           ...                ...                   ...
57         ID         IDAHO               19.0                  36.0
58         SD  SOUTH DAKOTA               19.0                  29.0
59         RI  RHODE ISLAND               17.0                  25.0
60        NaN           NaN                NaN                   NaN
61        NaN           NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                  547.0
58                                  847.0
59                                  459.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
WEST VIRGINIA OUTFLOW                 54.0
Unnamed: 1                            97.0
Unnamed: 2                              WV
Unnamed: 3               WV Total Mig - US
Unnamed: 4                         17290.0
Unnamed: 5                         31302.0
Unnamed: 6                        690362.0
Name: 6, dtype: object
                                   WASHINGTON OUTFLOW        Unnamed: 1  \
0   Individual Income Tax Returns: State-to-State ...               NaN
1         [Money amounts are in thousands of dollars]               NaN
2                 Origin from Washington (State Code)  Destination into
3                                                 NaN        State Code
4                                                 NaN               NaN
..                                                ...               ...
57                                               53.0              50.0
58                                               53.0              54.0
59                                               53.0              10.0
60  NOTE: Data are based on Individual Income Tax ...               NaN
61  Source:  IRS Individual Master File, Statistic...               NaN

   Unnamed: 2     Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0         NaN            NaN                NaN                   NaN
1         NaN            NaN                NaN                   NaN
2         NaN            NaN  Number of returns  Number of exemptions
3       State     State Name                NaN                   NaN
4         NaN            NaN               -1.0                  -2.0
..        ...            ...                ...                   ...
57         VT        VERMONT              109.0                 178.0
58         WV  WEST VIRGINIA              103.0                 225.0
59         DE       DELAWARE               68.0                 111.0
60        NaN            NaN                NaN                   NaN
61        NaN            NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 3819.0
58                                 4425.0
59                                 3290.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
WASHINGTON OUTFLOW                 53.0
Unnamed: 1                         97.0
Unnamed: 2                           WA
Unnamed: 3            WA Total Mig - US
Unnamed: 4                      75099.0
Unnamed: 5                     142475.0
Unnamed: 6                    3414678.0
Name: 6, dtype: object
                                        TEXAS OUTFLOW        Unnamed: 1  \
0   Individual Income Tax Returns: State-to-State ...               NaN
1         [Money amounts are in thousands of dollars]               NaN
2                      Origin from Texas (State Code)  Destination into
3                                                 NaN        State Code
4                                                 NaN               NaN
..                                                ...               ...
57                                               48.0              10.0
58                                               48.0              44.0
59                                               48.0              50.0
60  NOTE: Data are based on Individual Income Tax ...               NaN
61  Source:  IRS Individual Master File, Statistic...               NaN

   Unnamed: 2    Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0         NaN           NaN                NaN                   NaN
1         NaN           NaN                NaN                   NaN
2         NaN           NaN  Number of returns  Number of exemptions
3       State    State Name                NaN                   NaN
4         NaN           NaN               -1.0                  -2.0
..        ...           ...                ...                   ...
57         DE      DELAWARE              336.0                 651.0
58         RI  RHODE ISLAND              250.0                 490.0
59         VT       VERMONT              158.0                 281.0
60        NaN           NaN                NaN                   NaN
61        NaN           NaN                NaN                   NaN

                                Unnamed: 6
0                                      NaN
1                                      NaN
2   Aggregate adjusted gross income (AGI)
3                                      NaN
4                                     -3.0
..                                     ...
57                                 15085.0
58                                 13325.0
59                                 11354.0
60                                     NaN
61                                     NaN

[62 rows x 7 columns]

                                     WISCONSIN INFLOW   Unnamed: 1 Unnamed: 2  \
0   Individual Income Tax Returns: State-to-State ...          NaN        NaN
1         (Money amounts are in thousands of dollars)          NaN        NaN
2             Destination into Wisconsin (State Code)  Origin from        NaN
3                                                 NaN   State Code      State
4                                                 NaN          NaN        NaN
..                                                ...          ...        ...
57                                               55.0         10.0         DE
58                                               55.0         44.0         RI
59                                               55.0         50.0         VT
60  NOTE: Data are based on Individual Income Tax ...          NaN        NaN
61  Source:  IRS Individual Master File, Statistic...          NaN        NaN

      Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0            NaN                NaN                   NaN
1            NaN                NaN                   NaN
2            NaN  Number of returns  Number of exemptions
3     State Name                NaN                   NaN
4            NaN               -1.0                  -2.0
..           ...                ...                   ...
57      DELAWARE               67.0                 206.0
58  RHODE ISLAND               51.0                  78.0
59       VERMONT               41.0                  71.0
60           NaN                NaN                   NaN
61           NaN                NaN                   NaN

                                Unnamed: 6
0                                      NaN
1                                      NaN
2   Aggregate adjusted gross income (AGI)
3                                      NaN
4                                     -3.0
..                                     ...
57                                  2357.0
58                                  3495.0
59                                  1795.0
60                                     NaN
61                                     NaN

[62 rows x 7 columns]
WISCONSIN INFLOW                 55.0
Unnamed: 1                       97.0
Unnamed: 2                         WI
Unnamed: 3          WI Total Mig - US
Unnamed: 4                    39974.0
Unnamed: 5                    73884.0
Unnamed: 6                  1847363.0
Name: 6, dtype: object
                                    NEW JERSEY INFLOW   Unnamed: 1 Unnamed: 2  \
0   Individual Income Tax Returns: State-to-State ...          NaN        NaN
1         (Money amounts are in thousands of dollars)          NaN        NaN
2            Destination into New Jersey (State Code)  Origin from        NaN
3                                                 NaN   State Code      State
4                                                 NaN          NaN        NaN
..                                                ...          ...        ...
57                                               34.0         56.0         WY
58                                               34.0         46.0         SD
59                                               34.0         38.0         ND
60  NOTE: Data are based on Individual Income Tax ...          NaN        NaN
61  Source:  IRS Individual Master File, Statistic...          NaN        NaN

      Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0            NaN                NaN                   NaN
1            NaN                NaN                   NaN
2            NaN  Number of returns  Number of exemptions
3     State Name                NaN                   NaN
4            NaN               -1.0                  -2.0
..           ...                ...                   ...
57       WYOMING               44.0                  73.0
58  SOUTH DAKOTA               41.0                  81.0
59  NORTH DAKOTA               38.0                  60.0
60           NaN                NaN                   NaN
61           NaN                NaN                   NaN

                                Unnamed: 6
0                                      NaN
1                                      NaN
2   Aggregate adjusted gross income (AGI)
3                                      NaN
4                                     -3.0
..                                     ...
57                                  1498.0
58                                  2325.0
59                                  1518.0
60                                     NaN
61                                     NaN

[62 rows x 7 columns]
NEW JERSEY INFLOW                 34.0
Unnamed: 1                        97.0
Unnamed: 2                          NJ
Unnamed: 3           NJ Total Mig - US
Unnamed: 4                     74343.0
Unnamed: 5                    132568.0
Unnamed: 6                   4486058.0
Name: 6, dtype: object
                                      ARKANSAS INFLOW   Unnamed: 1 Unnamed: 2  \
0   Individual Income Tax Returns: State-to-State ...          NaN        NaN
1         (Money amounts are in thousands of dollars)          NaN        NaN
2              Destination into Arkansas (State Code)  Origin from        NaN
3                                                 NaN   State Code      State
4                                                 NaN          NaN        NaN
..                                                ...          ...        ...
57                                                5.0         11.0         DC
58                                                5.0         44.0         RI
59                                                5.0         50.0         VT
60  NOTE: Data are based on Individual Income Tax ...          NaN        NaN
61  Source:  IRS Individual Master File, Statistic...          NaN        NaN

              Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0                    NaN                NaN                   NaN
1                    NaN                NaN                   NaN
2                    NaN  Number of returns  Number of exemptions
3             State Name                NaN                   NaN
4                    NaN               -1.0                  -2.0
..                   ...                ...                   ...
57  DISTRICT OF COLUMBIA               28.0                  39.0
58          RHODE ISLAND               28.0                  53.0
59               VERMONT               17.0                  28.0
60                   NaN                NaN                   NaN
61                   NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 1516.0
58                                  882.0
59                                 1137.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
ARKANSAS INFLOW                  5.0
Unnamed: 1                      97.0
Unnamed: 2                        AR
Unnamed: 3         AR Total Mig - US
Unnamed: 4                   29511.0
Unnamed: 5                   60755.0
Unnamed: 6                 1147762.0
Name: 6, dtype: object
                                      NEW YORK INFLOW   Unnamed: 1 Unnamed: 2  \
0   Individual Income Tax Returns: State-to-State ...          NaN        NaN
1         (Money amounts are in thousands of dollars)          NaN        NaN
2              Destination into New York (State Code)  Origin from        NaN
3                                                 NaN   State Code      State
4                                                 NaN          NaN        NaN
..                                                ...          ...        ...
57                                               36.0         56.0         WY
58                                               36.0         46.0         SD
59                                               36.0         38.0         ND
60  NOTE: Data are based on Individual Income Tax ...          NaN        NaN
61  Source:  IRS Individual Master File, Statistic...          NaN        NaN

      Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0            NaN                NaN                   NaN
1            NaN                NaN                   NaN
2            NaN  Number of returns  Number of exemptions
3     State Name                NaN                   NaN
4            NaN               -1.0                  -2.0
..           ...                ...                   ...
57       WYOMING              123.0                 190.0
58  SOUTH DAKOTA              119.0                 209.0
59  NORTH DAKOTA               95.0                 165.0
60           NaN                NaN                   NaN
61           NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 3952.0
58                                 4137.0
59                                 4083.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
NEW YORK INFLOW                 36.0
Unnamed: 1                      97.0
Unnamed: 2                        NY
Unnamed: 3         NY Total Mig - US
Unnamed: 4                  148487.0
Unnamed: 5                  232431.0
Unnamed: 6                 7107931.0
Name: 6, dtype: object
                                      OKLAHOMA INFLOW   Unnamed: 1 Unnamed: 2  \
0   Individual Income Tax Returns: State-to-State ...          NaN        NaN
1         (Money amounts are in thousands of dollars)          NaN        NaN
2              Destination into Oklahoma (State Code)  Origin from        NaN
3                                                 NaN   State Code      State
4                                                 NaN          NaN        NaN
..                                                ...          ...        ...
57                                               40.0         44.0         RI
58                                               40.0         11.0         DC
59                                               40.0         50.0         VT
60  NOTE: Data are based on Individual Income Tax ...          NaN        NaN
61  Source:  IRS Individual Master File, Statistic...          NaN        NaN

              Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0                    NaN                NaN                   NaN
1                    NaN                NaN                   NaN
2                    NaN  Number of returns  Number of exemptions
3             State Name                NaN                   NaN
4                    NaN               -1.0                  -2.0
..                   ...                ...                   ...
57          RHODE ISLAND               37.0                  78.0
58  DISTRICT OF COLUMBIA               36.0                  55.0
59               VERMONT               25.0                  40.0
60                   NaN                NaN                   NaN
61                   NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 1348.0
58                                 2191.0
59                                  909.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
OKLAHOMA INFLOW                 40.0
Unnamed: 1                      97.0
Unnamed: 2                        OK
Unnamed: 3         OK Total Mig - US
Unnamed: 4                   37795.0
Unnamed: 5                   79695.0
Unnamed: 6                 1473452.0
Name: 6, dtype: object
                                       MONTANA INFLOW   Unnamed: 1 Unnamed: 2  \
0   Individual Income Tax Returns: State-to-State ...          NaN        NaN
1         (Money amounts are in thousands of dollars)          NaN        NaN
2               Destination into Montana (State Code)  Origin from        NaN
3                                                 NaN   State Code      State
4                                                 NaN          NaN        NaN
..                                                ...          ...        ...
57                                               30.0         11.0         DC
58                                               30.0         44.0         RI
59                                               30.0         10.0         DE
60  NOTE: Data are based on Individual Income Tax ...          NaN        NaN
61  Source:  IRS Individual Master File, Statistic...          NaN        NaN

              Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0                    NaN                NaN                   NaN
1                    NaN                NaN                   NaN
2                    NaN  Number of returns  Number of exemptions
3             State Name                NaN                   NaN
4                    NaN               -1.0                  -2.0
..                   ...                ...                   ...
57  DISTRICT OF COLUMBIA               21.0                  23.0
58          RHODE ISLAND               14.0                  17.0
59              DELAWARE               12.0                  25.0
60                   NaN                NaN                   NaN
61                   NaN                NaN                   NaN

                                Unnamed: 6
0                                      NaN
1                                      NaN
2   Aggregate adjusted gross income (AGI)
3                                      NaN
4                                     -3.0
..                                     ...
57                                   963.0
58                                   257.0
59                                   399.0
60                                     NaN
61                                     NaN

[62 rows x 7 columns]
MONTANA INFLOW                 30.0
Unnamed: 1                     97.0
Unnamed: 2                       MT
Unnamed: 3        MT Total Mig - US
Unnamed: 4                  14478.0
Unnamed: 5                  26529.0
Unnamed: 6                 590401.0
Name: 6, dtype: object
                                 MASSACHUSETTS INFLOW   Unnamed: 1 Unnamed: 2  \
0   Individual Income Tax Returns: State-to-State ...          NaN        NaN
1         (Money amounts are in thousands of dollars)          NaN        NaN
2         Destination into Massachusetts (State Code)  Origin from        NaN
3                                                 NaN   State Code      State
4                                                 NaN          NaN        NaN
..                                                ...          ...        ...
57                                               25.0         56.0         WY
58                                               25.0         38.0         ND
59                                               25.0         46.0         SD
60  NOTE: Data are based on Individual Income Tax ...          NaN        NaN
61  Source:  IRS Individual Master File, Statistic...          NaN        NaN

      Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0            NaN                NaN                   NaN
1            NaN                NaN                   NaN
2            NaN  Number of returns  Number of exemptions
3     State Name                NaN                   NaN
4            NaN               -1.0                  -2.0
..           ...                ...                   ...
57       WYOMING               49.0                  91.0
58  NORTH DAKOTA               45.0                  73.0
59  SOUTH DAKOTA               45.0                  70.0
60           NaN                NaN                   NaN
61           NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 2291.0
58                                 1134.0
59                                 1316.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
MASSACHUSETTS INFLOW                 25.0
Unnamed: 1                           97.0
Unnamed: 2                             MA
Unnamed: 3              MA Total Mig - US
Unnamed: 4                        61868.0
Unnamed: 5                        95891.0
Unnamed: 6                      3316542.0
Name: 6, dtype: object
                                    NEW MEXICO INFLOW   Unnamed: 1 Unnamed: 2  \
0   Individual Income Tax Returns: State-to-State ...          NaN        NaN
1         (Money amounts are in thousands of dollars)          NaN        NaN
2            Destination into New Mexico (State Code)  Origin from        NaN
3                                                 NaN   State Code      State
4                                                 NaN          NaN        NaN
..                                                ...          ...        ...
57                                               35.0         54.0         WV
58                                               35.0         44.0         RI
59                                               35.0         10.0         DE
60  NOTE: Data are based on Individual Income Tax ...          NaN        NaN
61  Source:  IRS Individual Master File, Statistic...          NaN        NaN

       Unnamed: 3         Unnamed: 4            Unnamed: 5  \
0             NaN                NaN                   NaN
1             NaN                NaN                   NaN
2             NaN  Number of returns  Number of exemptions
3      State Name                NaN                   NaN
4             NaN               -1.0                  -2.0
..            ...                ...                   ...
57  WEST VIRGINIA               56.0                 105.0
58   RHODE ISLAND               39.0                  62.0
59       DELAWARE               24.0                  48.0
60            NaN                NaN                   NaN
61            NaN                NaN                   NaN

                               Unnamed: 6
0                                     NaN
1                                     NaN
2   Aggregate adjusted gross income (AGI)
3                                     NaN
4                                    -3.0
..                                    ...
57                                 2277.0
58                                 1969.0
59                                 1204.0
60                                    NaN
61                                    NaN

[62 rows x 7 columns]
NEW MEXICO INFLOW                 35.0
Unnamed: 1                        97.0
Unnamed: 2                          NM
Unnamed: 3           NM Total Mig - US
Unnamed: 4                     27517.0
Unnamed: 5                     55945.0
Unnamed: 6                   1154615.0
Name: 6, dtype: object

TypeError: cannot do slice indexing on Index with these indexers [3] of type int

In [ ]:
# add parameters to df object

In [ ]:
# parse out the row from csv file for NOR, NOE

In [ ]:
# convert df into csv

In [ ]:
# close output csv file
output.close()

In [ ]:
"""
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f) and filename.endswith('.txt'):
        read_file = pd.read_excel (r'../code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow/Alabama91in.xls')
    read_file.to_csv (r'../code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow/Alabama91in.csv', index = None, header=True)


read_file = pd.read_excel (r'../code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow/Alabama91in.xls')
read_file.to_csv (r'../code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow/Alabama91in.csv', index = None, header=True)



location = "/Users/neely/Desktop/climate-displacement/code/data/StateMigration/1990to1991StateMigration/1990to1991StateMigrationInflow"
placement = "./Users/neely/Desktop/climate-displacement/code/data/StateMigration"

for file in glob.glob("*.xls"):
"""

"""
from os.path import isfile, join
onlyfiles = [f for f in listdir('../code/data/StateMigration/') if isfile(join('../code/data/StateMigration/', f))]
"""

In [ ]:
# Neural Network -> fastai

# path to dataset here (./Users/neely/Desktop/climate-displacement/code/data/StateMigration)
path = untar_data(URLs.MNIST)
path.ls()

# data loader
dls = ImageDataLoaders.from_folder(path, train="training")